[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/zsh/themes/gruvbox-zsh"]
	path = config/zsh/themes/gruvbox-zsh
	url = https://github.com/sbugzu/gruvbox-zsh.git
